# Copie para .env.local e ajuste os valores
VITE_BACKEND_URL=https://acelera-pedra-branca.onrender.com
VITE_SUPABASE_URL=https://rircwnjahxebkgcvzfek.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_ABJiLcssFSB_ln-U_51fUw_KwHZAGDZ
